<!DOCTYPE html>
<html ng-app>
    <head>
        <meta charset="utf-8">

        <title>DoA - A Good Day To Die</title>

        <link rel="shortcut icon" href="favicon.png" type="image/png">

        <meta name="description" content="A good day to die - rogue-like text rpg.">
        <meta name="author" content="edloidas@gmail.com">

        <!-- Styles -->
        <link rel="stylesheet" type="text/css" href="css/style.css">

        <!-- Libraries -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js"></script>
        <script src="js/Game.js"></script>
    </head>

    <body class="{{meta.theme}}" ng-controller="GameController">
        <div id="content" class="{{meta.size}} {{meta.display}} {{meta.status}}">
            <div id="menu">
                <div class="title">
                    <h1>{{meta.franchise}}</h1>
                    <p>{{meta.name}}</p>
                </div>
                <div class="holder">
                    <ul class="list">
                        <li ng-repeat="el in menu">
                            <a id="{{el.id}}" ng-click="runMenu($index);">{{el.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="submenu">
                <div class="title">
                    <p>{{submenu.title}}</p>
                </div>
                <div class="scroll">
                    <div class="holder">
                        <table class="list" ng-if="meta.display === 'settings'">
                            <tbody>
                                <tr>
                                    <td>Game size : </td>
                                    <td>
                                        <select ng-model="meta.size"
                                                ng-options="e for e in submenu.settings.size"
                                                ng-change="saveSettings()">
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Color theme : </td>
                                    <td>
                                        <select ng-model="meta.theme"
                                                ng-options="e for e in submenu.settings.theme"
                                                ng-change="saveSettings()">
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Fullscreen : </td>
                                    <td>
                                        <input type="checkbox"
                                               ng-model="meta.fullscreen"
                                               ng-change="toggleFullscreen()">
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <table class="list" ng-if="meta.display === 'credits'">
                            <tbody>
                                <tr ng-repeat="el in submenu.credits">
                                    <td>{{el.name}} : </td>
                                    <td>{{el.values.toString().replace(',', ', ')}}</td>
                                </tr>
                            </tbody>
                        </table>

                        <ul class="list" ng-if="meta.display === 'save'">
                            <li ng-repeat="el in submenu.save">
                                <a ng-click="save($index);">
                                    <div class="data">Slot #{{$index + 1}}</div>
                                    <div class="date">{{el.date}}</div>
                                </a>
                            </li>
                        </ul>

                        <ul class="list" ng-if="meta.display === 'load'">
                            <li ng-repeat="el in submenu.load">
                                <a ng-click="load($index);">
                                    <div class="data">Slot #{{$index + 1}}</div>
                                    <div class="date">{{el.date}}</div>
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
            <div id="game">
                <div id="screen">
                    <div class="holder">
                        <i>Lorem ipsum</i>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet posuere nisi, et iaculis orci luctus dictum. Nunc dolor tortor, dignissim eu augue non, egestas pharetra nisi. Duis porttitor nibh nulla, a feugiat leo tincidunt id. Nunc aliquam mollis eros rhoncus facilisis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce imperdiet hendrerit est, ut fringilla mauris molestie nec. Sed iaculis nisi ut mauris tincidunt vulputate. Pellentesque auctor porta leo quis ullamcorper. Nulla imperdiet aliquam sem non imperdiet. Nam ultricies eros nibh. Pellentesque congue velit purus. Phasellus lobortis ornare purus, id vestibulum dui pellentesque sed.</p>
                        <p>Aliquam risus augue, suscipit non bibendum elementum, sollicitudin id diam. Donec at imperdiet massa. Integer sed vulputate massa. Mauris sit amet suscipit dui. Suspendisse iaculis elit porttitor molestie tincidunt. Proin pretium sollicitudin neque eu vehicula. Duis scelerisque nunc at facilisis vehicula.</p>
                        <p>Duis sodales sagittis mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi sit amet dapibus lectus, eu volutpat felis. Aenean consectetur vehicula justo vel laoreet. Cras tempor interdum nulla nec iaculis. Nam quis commodo nulla, sit amet congue est. Pellentesque aliquam tristique libero. Aenean dictum quis urna sit amet accumsan. Pellentesque semper mauris a dolor imperdiet facilisis. Morbi malesuada, augue vel suscipit cursus, libero sem gravida nibh, id vehicula sem urna eu mi. Aenean vestibulum dolor odio. Nunc nisl lacus, aliquam a erat sed, molestie consectetur velit. Cras porttitor interdum felis sit amet aliquam. Aenean iaculis ultricies nulla vel dignissim.</p>
                    </div>
                </div>
                <div id="status">
                    <div class="holder">
                        <div class="button"><a>HP</a><span class="index">57%</span></div>
                        <div class="button"><a>AUG</a><span class="index">3/6</span></div>
                        <div class="button"><a>INV</a><span class="index">12/25</span></div>
                        <div class="button"><a>MAP</a></div>
                        <div class="button"><a>EXT</a></div>
                    </div>
                </div>
                <div id="actions">
                    <div class="holder">
                        <ul class="list">
                            <li><a>Target</a></li>
                            <li><a>Use</a></li>
                            <li><a>Talk</a></li>
                            <li><a>Attack</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Always visible, except main menu -->
            <div id="backToMenu" ng-click="backToMenu()">menu</div>
        </div>
    </body>
</html>
